* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family should be'Montserrat', sans-serif */ 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 800;
    font-size: 1.5rem;
    color: #222;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {}

header p {}

section {
    max-width: 1200px;
    margin: auto;
}

.about,
.services,
.portfolio,
.contact,
.footer {}

.about h2,
.services h2,
.portfolio h2,
.contact h2 {}

.services-grid,
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.service,
.project {}

.service h3,
.project h3 {}

.project img {}

.contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact input,
.contact textarea {}

.contact button {}

footer {}