/* - - - Universal - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* - - - Variables - - - */

:root {

    /* Colours */

    --body-background-color: #ffffff;
    --body-font-color: #ffffff;

    --header-background-color: #343a40;
    --header-font-color: #ffffff;

    --main-background-color-two: #f8f9fa;
    --main-text-color-two: #212529;

    --card-background-color: #ffffff;
    --card-text-color: #ffffff;

    --footer-background-color: #ffffff;
    --footer-font-color: #ffffff;

    --main-call-to-action-background-color: #007bff;
    --secondary-call-to-action-background-color: #6c757d;
    --call-to-action-text-color: white;

    /* Text */

    --body-text-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* - - - Body - - - */

body {
    font-family: var(--body-text-family);
    font-weight: 400;
    line-height: 1.5;
}

#body_container_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header-index"
        "main_container_grid"
        "footer-index";
}

#header-index {
    grid-area: header-index;
}

#main_container_grid {
    grid-area: main_container_grid;
}

#footer-index {
    grid-area: footer-index;
}

/* - - - Header - - - */

#header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header-hidden"
        "header-visible";
}

#header-visible {
    grid-area: header-visible;
    display: flex;
    justify-content: space-between;
}

#visible-one {
    display: flex;
}

#header-hidden {
    grid-area: header-hidden;
}

#visible-one img {
    max-height: 2em;
}

#header-hidden-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header-hidden-col-one header-hidden-col-two";
}

#header-hidden-grid {
    display: none;
}

#header-toggle:checked~#header-hidden-grid {
    display: block;
}

/* Hamburger Icon */

#hamburger-icon {
    display: inline-block;
    width: 25px;
    height: 18px;
    cursor: pointer;
    position: relative;
}

#hamburger-icon span {
    display: block;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    border-radius: 2px;
}

/* - - - Main - - - */

#main_container_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#box-one-one {
    grid-area: box-one-one;
}

#box-one-two {
    grid-area: box-one-two;
}

/* Main Box One */

#main-box-one {
    text-align: center;
}

#box-one-two {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#main-call-to-action {
    background: var(--main-call-to-action-background-color);
}

#secondary-call-to-action {
    background: var(--secondary-call-to-action-background-color);
}

#main-call-to-action,
#secondary-call-to-action {
    color: var(--call-to-action-text-color);
    padding: .5em;
    border-radius: 7%;
}

/* Main Box Two */

#main-box-two-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "thumbnail_one thumbnail_two thumbnail_three"
        "thumbnail_four thumbnail_five thumbnail_six"
        "thumbnail_seven thumbnail_eight thumbnail_nine";
    gap: 2em;
}

.thumbnail {
    text-align: center;
}

.thumbnail-lower-ribbon {
    display: flex;
    justify-content: space-between;
}

.thumbnail-lower-ribbon-one {
    display: flex;
    gap: .5em;
}

/* - - - Footer - - - */

#footer-index {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

/* - - - Media Queries - - - */

@media (max-width: 800px) {

    #main-box-two-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
            "thumbnail_one"
            "thumbnail_two"
            "thumbnail_three"
            "thumbnail_four"
            "thumbnail_five"
            "thumbnail_six"
            "thumbnail_seven"
            "thumbnail_eight"
            "thumbnail_nine";
        gap: 2em;
    }

}