/* - - - Universal - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    padding: 0;
    margin: 0;
}

/* - - - Variables - - - */

:root {

    --body-background-color: #ffffff;
    --body-font-color: #ffffff;

    --header-background-color: #343a40;
    --header-font-color: #ffffff;

    --hero-background-color-one: #fff;
    --hero-font-color-one: #212529;

    --main-background-color-two: #f8f9fa;
    --main-text-color-two: #212529;

    --card-background-color: #ffffff;
    --card-text-color: #ffffff;

    --card-thumbnail-background-color: #ffffff;
    --card-thumbnail-text-color: #ffffff;

    --footer-background-color: #ffffff;
    --footer-font-color: #ffffff;

    --main-call-to-action-background-color: #007bff;
    --main-call-to-action-text-color: #fff;

    --secondary-call-to-action-background-color: #6c757d;
    --secondary-call-to-action-text-color: #fff;
}

/* - - - Body - - - */

#body_container_grid {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header-index"
        "main_container_grid"
        "footer-index";
}

#header-index {
    grid-area: header-index;
}

#main_container_grid {
    grid-area: main_container_grid;
}

#footer-index {
    grid-area: footer-index;
}

/* - - - Header - - - */

/* - - - Main - - - */

#main_container_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#box-one-one {
    grid-area: box-one-one;
}

#box-one-two {
    grid-area: box-one-two;
}

/* Main Box One */

/* Main Box Two */

#main-box-two-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "thumbnail_one thumbnail_two thumbnail_three"
        "thumbnail_four thumbnail_five thumbnail_six"
        "thumbnail_seven thumbnail_eight thumbnail_nine";
}

/* - - - Header - - - */

#visible-one img {
    max-height: 2em;
}

/* - - - Media Queries - - - */

@media (max-width: 600px) {


}