/* - - - Universal Reset - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - Variables - - - */

:root {

    /* Background Colours */
    --background-header: linear-gradient(45deg, #dcdcdc, #e6e6e6);
    --background-body: linear-gradient(45deg, #f5f5f5, #ebebeb, #f9f9f9);
    --background-sidebar: linear-gradient(45deg, #eaeaea, #d6d6d6);
    --background-main: linear-gradient(45deg, #f8f8f8, #ededed);
    --background-footer: linear-gradient(45deg, #dcdcdc, #f0f0f0);
    --background-contact-form: linear-gradient(135deg, #f5f5f6, #ebebec);

    /* Fonts */
    --body-font-family: "Merriweather", serif;
    --body-font-weight: 400;
    --body-font-style: normal;

    --header-font-family: "Raleway";
    --header-font-weight: 400;
    --header-font-style: normal;

    --header-links-font-family: "Cardo";
    --text-color-header: black;
    
    --links-unvisited-font-color: rgb(40, 100, 95);
    --links-visted-font-color: rgb(60, 120, 110);
    --links-hover-font-color: rgb(90, 150, 140);
    --links-active-font-color: rgb(30, 85, 80);
    --links-focus-outline-color: rgb(115, 175, 165);
}

/* - - - Body - - - */

body {
    background: var(--background-body);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
}

.grid-container {
    /* page-wide container; header, main, footer */
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    gap: 1rem;
}

h2 {
    font-family: "Playfair Display";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* - - - Header - - - */

#header {
    background: var(--background-header);
    color: var(--text-color-header);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
    grid-area: header;
    height: 80px;
    margin-bottom: .5rem;

    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
}

/* header divided into three grid columns */
#header-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header-grid-col-one header-grid-col-two header-grid-col-three";
}

/* each grid column is further managed via flex */
#header-grid-col-one,
#header-grid-col-two,
#header-grid-col-three {
    display: flex;
    align-items: center;
}

#header-grid-col-one {
    grid-area: header-grid-col-one;
    justify-content: start;
    align-items: center;
}

#header-grid-col-two {
    grid-area: header-grid-col-two;
    justify-content: center;
}

#header-grid-col-three {
    grid-area: header-grid-col-three;
    justify-content: end;
}

#header-title h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#header-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#header-navigation-ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#header-navigation-ul li {
    list-style: none;
    font-family: cardo;
    font-size: 1.25em;
}


#header-navigation-ul li a {
    text-decoration: none;
    display: inline-block;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-family: var(--header-links-font-family);
}

a:focus {
    outline: 2px dashed var(--links-focus-outline-color);
    outline-offset: 4px;
}

a:link {
    color: var(--links-unvisited-font-color);
}

a:visited {
    color: var(--links-visted-font-color);
}

a:hover {
    color: var(--links-hover-font-color);
    transform: scale(1.08);
}

a:active {
    color: var(--links-active-font-color);
}


/* Header Logo */

#img-logo {
    padding-left: .75rem;
    height: 80px;
    width: auto;
}

/* - - - Sidebar - - - */

.sidebar {
    background: var(--background-sidebar);
    padding: 1em;
    grid-area: sidebar;
    border-radius: 10px;
    color: #2a2a2a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

#sidebar-container-item-2-and-photo {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar-item-2 sidebar-item-photo";
}

#sidebar-item-2 {
    grid-area: sidebar-item-2;
}

#sidebar-item-photo {
    grid-area: sidebar-item-photo;
}

#sidebar-item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-item-photo img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* intro blurb */
#sidebar-item-2 p {
    padding: .75rem;
}

#sidebar-item-5 {
    margin-top: .75rem;
}

.sidebar-title {
    font-size: clamp(1rem, 1.75vw, 1rem);
}

/* - - - Main - - - */

.main {
    padding: 1em;
    background: var(--background-main);
    grid-area: main;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

#main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar contact projects";
    gap: 1rem;
}

/* Contact Column */

#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 1em;
}

#form-contact-form {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 2em;
    background: var(--background-contact-form);
    box-shadow: 0 0 5px rgba(23, 22, 22, 0.2);
}

#form-contact-form h3 {
    padding: 1em;
    text-align: center;
}

/* everything inside contact form cannot be wider than the form container */
#form-contact-form * {
    max-width: 100%;
}

#form-contact-form input[type="text"],
#form-contact-form input[type="submit"],
#form-contact-form input[type="tel"],
#form-contact-form input[type="email"],
#form-contact-form textarea {
    /* top and bottom margin of 0.5em */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
}

/* make submit button somewhat small */
#form-contact-form input[type="submit"] {
    max-width: 30%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#form-contact-form input[type="submit"]:hover {
    transform: translateY(1px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #fdfdfd, #f1f1f1);
    cursor: pointer;
}

#contact p {
    word-break: break-word;
    padding: 1em;
}

/* makes the placeholder text in the input fields a little less loud/jarring */
input::placeholder {
    font-style: italic;
    color: #999;
}

/* Projects Column */

#projects-title {
    grid-area: projects-title;
}

#project-one {
    grid-area: project-one;
}

#project-two {
    grid-area: project-two;
}

#project-three {
    grid-area: project-three;
}

#project-four {
    grid-area: project-four;
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "projects-title projects-title"
        "project-one project-two"
        "project-three project-four";
    text-align: center;
    gap: 1rem;
}

#projects a {
    text-decoration: none;
    display: inline-block;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#projects h3 {
    /* getting side-scrolling without this */
    word-break: break-word;
}

#projects p {
    word-break: break-word;
    padding: 1em;
}

.project-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: .25rem;
    margin-top: 1.5rem;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #fdfdfd, #f1f1f1);
}

/* - - - Footer - - - */

.footer {
    margin-top: .5rem;
    display: flex;
    background: var(--background-footer);
    grid-area: footer;
    border-radius: 10px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
    height: 70px;
    justify-content: center;
    align-items: center;
}

/* - - - Media Queries - - - */

@media (max-width: 700px) {
    #main-grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sidebar"
            "contact"
            "projects";
    }

    #projects {
        grid-template-columns: 1fr;
        grid-template-areas:
            "projects-title"
            "project-one"
            "project-two"
            "project-three"
            "project-four";
    }
}

@media (min-width: 701px) and (max-width: 1200px) {
    #main-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "sidebar contact"
            "projects projects";
    }

    #projects {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "projects-title"
            "project-one project-two"
            "project-three project-four";
    }

    #sidebar-container-item-2-and-photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar-item-photo"
        "sidebar-item-2";
}

}

@media (min-width: 1201px) and (max-width: 1400px) {
    #main-grid-container {
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-areas:
            "sidebar contact"
            "projects projects";
    }

    #projects {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "projects-title"
            "project-one project-two"
            "project-three project-four";
    }
    
}

@media (min-width: 1401px) and (max-width: 1600px) {

    #sidebar-container-item-2-and-photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar-item-photo"
        "sidebar-item-2";
}
}