/* - - Universal Reset - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - Variables - - */

:root {

    /* Background Colours */
    --background-header: linear-gradient(45deg, #dcdcdc, #e6e6e6);
    --background-body: linear-gradient(45deg, #f5f5f5, #ebebeb, #f9f9f9);
    --background-sidebar: linear-gradient(45deg, #eaeaea, #d6d6d6);
    --background-main: linear-gradient(45deg, #f8f8f8, #ededed);
    --background-footer: linear-gradient(45deg, #dcdcdc, #f0f0f0);

    /* Fonts */
    --body-font-family: "Merriweather", serif;
    --body-font-weight: 400;
    --body-font-style: normal;

    --header-font-family: "Raleway";
    --header-font-weight: 400;
    --header-font-style: normal;
    --header-title-font-size: 2.25em;

    --header-links-font-family: "Cardo";
    --links-unvisited-font-color: black;
    --links-visted-font-color: rgb(182, 111, 221);
    --links-hover-font-color: rgb(156, 154, 171);
    --links-active-font-color: rgb(187, 183, 222);    
}

/* - - Body - - */

body {
    background: var(--background-body);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    gap: 1rem;
}

/* - - Header - - */

.header {
    background: var(--background-header);
    grid-area: header;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);

    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header-logo {
    flex: 1;
}

#header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

#header-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Header: Navigation */

#header-navigation-ul {
    display: flex;
    gap: 1.25rem;
}

#header-navigation-ul li {
    list-style: none;
    font-family: cardo;
    font-size: 1.25em;
}

#header-navigation-ul li a {
    text-decoration: none;
    display: inline-block;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-family: var(--header-links-font-family);
}

a:link {
    color: var(--links-unvisited-font-color);
}

a:visited {
    color: var(--links-visted-font-color);
}

a:hover {
    color: var(--links-hover-font-color);
    transform: scale(1.08);
}

a:active {
    color: var(--links-active-font-color);
}

#li-item-2 {
    padding-right: 2.5em;
    padding-left: 1.5em;
}

/* Header: Logo */

#img-logo {
    max-height: 5em;
    width: auto;
    margin: .25em;
    margin-left: .4em;
    
}

/* Header: Title */

#header-title h1 {
    font-size: var(--header-title-font-size);
    color: var(--header-title-font-color);
}

/* - - Sidebar - - */

.sidebar {
    background: var(--background-sidebar);
    padding: 1em;
    grid-area: sidebar;
    border-radius: 10px;
    color: #2a2a2a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

/* - - Main - - */

.main {
    padding: 1em;
    background: var(--background-main);
    grid-area: main;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

/* - - Footer - - */

.footer {
    background: var(--background-footer);
    padding: 1em;
    grid-area: footer;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
}

/* - - Media Queries - - */

/* under 600px, stack items vertically */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }

    #header-title h1 {
        font-size: 1.75em;
    }

    #header-navigation-ul li a {
        font-size: .9em;
    }
}

@media (max-width: 750px) {
    #header-navigation-ul {
        flex-direction: column;
        gap: 0;
        text-align: center;
        margin-right: 1.5em;
    }

    #li-item-2 {
        padding-right: 0;
        padding-left: 0;
    }
}